@media(max-width:1400px){
    .container, .container-lg, .container-md, .container-sm {
        max-width:100%;
        width: 100%;
    }
}
@media(max-width:1086px){
    .men ul {
        line-height: 57px;
        height: 44px;
    }
    .men ul li a {
        font-size: 10px;
    }
    .men ul li {
        padding: 0px 15px;
    }
    
}
@media(max-width:850px){
    .im {
        text-align: center;
    }
    .b h3 {
        padding-top: 150px;
    }
    .b h2 {
        padding-bottom:150px;
       
    }
    .men {
        text-align: center;
    }
    .men ul li {
        border-right: none;
    }
    .men ul li a {
        font-size: 15px;
    }
    .text-end {

        text-align: center !important;
    }
    .s {
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .m img {
        
        margin-right: 0px;
    }
    .p {
        padding: 30px;
        margin-top: 19px;
    }
    .f.pt-4 {
        text-align: center;
    }
    .k ul {
        text-align: center;
        padding-left: 0;
    }
}
@media(max-width:510px){
    .im img {
        height: 50px;
    }
    .men ul li a {
        font-size: 10px;
    }
    .men ul {
        line-height: 22px;
        height: 10px;
    }
    .b h3 {
        padding-top: 100px;
    }
    .b h2 {
        padding-bottom: 100px;
    }
    .m img {
        height: 190px;
    }
    .fw-bold {
        font-weight: 500 !important;
    }
    .fw-bolder {
        font-weight: 400 !important;
    }
    .s p {
        line-height: 25px;
        font-weight: 300;
    }
    .s {
        padding: 20px;
    }
    .p {
        padding: 35px;
        
    }
}
@media(max-width:410px){
    .men ul li a {
        font-size: 8px;
    }
    .b h3 {
        padding-top: 90px;
    }
    .b h2 {
        padding-bottom: 90px;
    }
}
